.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: var(--text-muted);

  a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--link-hover);
      text-decoration: underline;
    }
  }
}